<!DOCTYPE html>
<html>
<head>
     <title>Panhandle - Login</title>
</head>
<body>
    <script>
        password = prompt("Welcome to Panhandle's maintenance page. Please insert your password.");
        if(password == "panhandlers") {
            alert("Access is approved.");
        }
        else {
            alert("Wrong password. Please insert your password correctly.");
            location.reload();
        }
    </script>
    <h1>Nozama Panhandle</h1> 
    <h2>Access Lists</h2>
    <ul>
        <script>
            var page_list = ['Loading', 'Unloading', 'Maintenance'];
            var page_idx = 0;
            while(page_idx < page_list.length) {
<!--                document.write('<li><a href="http://mellon.andrew.cmu.edu:8888/' + page_list[page_idx].toLowerCase() + '">' + page_list[page_idx] + '</a></li>');-->
                document.write('<li><a href="/' + page_list[page_idx].toLowerCase() + '">' + page_list[page_idx] + '</a></li>');
                page_idx = page_idx + 1;
            }
        </script>
    </ul>
</body>
</html>
