{% extends '/pages/layout.html' %}

{% block content %}
    <h1>Loading Package</h1>
    <style>
    table, th, td {
        border: 1px solid black;
    }
    </style>
    <script>
        var socket=io.connect('http://'+document.domain+':'+location.port);
        socket.on('connect', function(){console.log('Connected!');});


	    function reset() {
            console.log("reset")
            socket.emit('button', "reset n");
        }
        function schedule() {
            console.log("schedule")
            socket.emit('button', "schedule n");
        }
        function complete() {
            console.log("complete")
            socket.emit('button', "complete n");
        }
        function replenish() {
            console.log("replenish")
            socket.emit('button', "replenish n");
        }
    </script>

	<script>
		var package_color = ['Red', 'Green', 'Blue'];
	</script>

    <div>
        <button onclick="schedule()">Schedule Delivery</button>
        <button onclick="complete()">Start Delivery</button>
        <button onclick="reset()">Reset Schedule</button>
    </div>

    <h2>Current Delivery</h2>
     <table>
	    <tr>
	     <td bgcolor="#ff6666" width="70" align="center"><font color='white'>{{current_order.red}}</font></td>
	     <td bgcolor="#66ff66" width="70" align="center"><font color='white'>{{current_order.green}}</font></td>
	     <td bgcolor="#6666ff" width="70" align="center"><font color='white'>{{current_order.blue}}</font></td>
	    </tr>
    </table>




	<h2>Next Delivery</h2>
	 <table>
	    <tr>
	     <td bgcolor="#ff6666" width="70" align="center"><font color='white'>{{next_order.red}}</font></td>
	     <td bgcolor="#66ff66" width="70" align="center"><font color='white'>{{next_order.green}}</font></td>
	     <td bgcolor="#6666ff" width="70" align="center"><font color='white'>{{next_order.blue}}</font></td>
	    </tr>
    </table>
    <h2>Stocks in Inventory</h2>  	 
    <table>
	    <tr>
	     <td bgcolor="#ff6666" width="70" align="center"><font color='white'>{{inventory.red}}</font></td>
	     <td bgcolor="#66ff66" width="70" align="center"><font color='white'>{{inventory.green}}</font></td>
	     <td bgcolor="#6666ff" width="70" align="center"><font color='white'>{{inventory.blue}}</font></td>
	    </tr>
    </table>
    <div>
        <button onclick="replenish()">Replenish</button>
    </div>

{% endblock %}
