{% extends '/pages/layout.html' %}

{% block content %}
    <script>
        var socket=io.connect('http://'+document.domain+':'+location.port);
        socket.on('connect', function(){console.log('Connected!');});


	    function reset() {
            console.log("reset")
            socket.emit('button', "reset n");
        }
        function schedule() {
            console.log("schedule")
            socket.emit('button', "schedule n");
        }
        function complete() {
            console.log("complete")
            socket.emit('button', "complete n");
        }
        function replenish() {
            console.log("replenish")
            socket.emit('button', "replenish n");
        }
    </script>

	<script>
		var package_color = ['Red', 'Green', 'Blue'];
	</script>

    <button onclick="reset()">Reset</button>
    <button onclick="schedule()">Schedule</button>
    <button onclick="complete()">Complete</button>
    <button onclick="replenish()">Replenish</button>

	<h2>Current Delivery</h2>
    <span> Red : {{current_order.red}} </span>
    <span> Green : {{current_order.green}} </span>
    <span> Blue : {{current_order.blue}} </span>

	<h2>Next Delivery</h2>
	<span> Red : {{next_order.red}} </span>
    <span> Green : {{next_order.green}} </span>
    <span> Blue : {{next_order.blue}} </span>

	<h2>Stocks in Inventory</h2>
    <span style="color:red"> Red : {{inventory.red}} </span>
    <span style="color:green"> Green : {{inventory.green}} </span>
    <span style="color:blue"> Blue : {{inventory.blue}} </span>

{% endblock %}
