{% extends '/pages/layout.html' %}

{% block content %}
    <h1>Maintenance Mode</h1>
    <h3>line</h3>
    <img src="http://rpi-6.wifi.local.cmu.edu:8888/video_feed" width="640" height="480"></img>
    <p>W: forward, A: left, D: right, S: backward</p>
    <div id="Wkey" style="text-align:center;font-weight:bold;font-size:25px;position:relative;width:50px;height:50px;top:0px;left:70px;border:5px solid #000;">W</div>
    <div id="Akey" style="text-align:center;font-weight:bold;font-size:25px;position:relative;width:50px;height:50px;top:10px;left:0px;border:5px solid #000;">A</div>
    <div id="Skey" style="text-align:center;font-weight:bold;font-size:25px;position:relative;width:50px;height:50px;top:-50px;left:70px;border:5px solid #000;">S</div>
    <div id="Dkey" style="text-align:center;font-weight:bold;font-size:25px;position:relative;width:50px;height:50px;top:-110px;left:140px;border:5px solid #000;">D</div>
<!--    <img src="http://mellon.andrew.cmu.edu:8888/video_feed" width="640" height="480"></img> -->
    <script>
    //var socket = io.connect('ws://mellon.andrew.cmu.edu:8888');

    //$(document).keypress(function(e){
    //    if(e.keycode == 119){
    //        conn.send("w");
    //    }
    //});
    var socket=io.connect('http://'+document.domain+':'+location.port);

    socket.on('connect', function(){console.log('Connected!');});

    //$(document).keypress(function(e){
    //    socket.emit('keypress', e['key']+" p");
    //    console.log(e['key']+ ' p')
    //});

    $(document).keydown(function(e){
        key=e['key']
        socket.emit('keypress', e['key']+" d");
        console.log(e['key']+' down')
        switch(key){
            case 'w':
                document.getElementById("Wkey").style.backgroundColor="blue";
                break;
            case 'a':
                document.getElementById("Akey").style.backgroundColor="blue";
                break;
            case 's':
                document.getElementById("Skey").style.backgroundColor="blue";
                break;
            case 'd':
                document.getElementById("Dkey").style.backgroundColor="blue";
                break;
        }
    });
    $(document).keyup(function(e){
        key=e['key']
        //socket.emit('keypress', e['key']+" u");
        console.log(e['key']+' up')
        switch(key){
            case 'w':
                document.getElementById("Wkey").style.backgroundColor="white";
                break;
            case 'a':
                document.getElementById("Akey").style.backgroundColor="white";
                break;
            case 's':
                document.getElementById("Skey").style.backgroundColor="white";
                break;
            case 'd':
                document.getElementById("Dkey").style.backgroundColor="white";
                break;
        }
    });
    </script>
    <script>
        function listing_pages(pages) {
            var link = new Array(pages.length);
    
            
        }
    </script>
{% endblock %}
