{% extends '/layout.html' %}

{% block content %}
    <div class="container-fluid" style="height: 130px; border-bottom: 1px dotted #d32f2f;">
        <div class="row" style="height: 70px;">
            <p class="h1" style="color: #424242; height: 60px; line-height: 60px;">Operation Dashboard</p>
        </div>
        <div class="row" class="height: 60px; margin: 0px -15px 10px; background-color: #9a0007">
            <div class="col-6" style="height: 50px;">    
                <button id="monitoring" type="button" class="btn btn-danger" style="float: left; width:180px; height:50px;" checked>
                    <span class="align-middle font-weight-normal" style="color: #ffffff">Monitoring</span>
                </button>
            </div>
            <div class="col-6" style="height: 50px;">    
                <button id="maintenance" type="button" class="btn btn-secondary" style="float: right; width:180px; height:50px;">
                    <span class="align-middle font-weight-normal" style="color: #424242">Maintenance</span>
                </button>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="height: 10px;">
        <div class="row" style="height: 10px;"></div>
    </div>

    <div class="container-fluid" style="height: 50px;">
        <div class="row" style="height: 500px;">
                <img src="http://rpi-6.wifi.local.cmu.edu:8888/video_feed" alt="rasp-pi robot camera" class="rounded mx-auto d-block" width="640" height="480" style="background-color: #e0e0e0; border: 2px solid #ffc209;">
        </div>
    </div>

    <script> 
        var socket=io.connect('http://'+document.domain+':'+location.port+'/monitoring');
        socket.on('connect', function(){
            console.log('Connected!');
        });
        socket.on('refresh', function(msg){
            p_maintenance = $('#maintenance').parent();
            c_maintenance = $('#maintenance').children();
            //p_maintenance = $('#maintenance').parent().get(0);
            p_monitoring = $('#monitoring').parent();
            c_monitoring = $('#monitoring').children();
            //p_monitoring = $('#monitoring').parent().get(0);
            
            console.log(msg);
            
            if(msg == 0){
                //$('#maintenance').prop("checked",false);
                $('#maintenance').prop("checked", false);
                //$('#monitoring').prop("checked",true);
                $('#monitoring').prop("checked", true);
               // p_maintenance.removeClass("active focus btn-success");
                $('#maintenance').removeClass("btn-danger");
                $('#maintenance').addClass("btn-secondary")
               c_maintenance.css("color", "#424242")
               // $("#maintenance").focusout();
                p_maintenance.focusout();
               // p_monitoring.addClass("active btn-secondary");
                $('#monitoring').removeClass("btn-secondary")
                $('#monitoring').addClass("btn-danger");
                c_monitoring.css("color", "#ffffff")
            }
            else {
                //$('#maintenance').prop("checked", true);
                $('#maintenance').prop("checked", true);
                //$('#monitoring').prop("checked", false);
                $('#monitoring').prop("checked", false);
                // p_monitoring.removeClass("active focus btn-danger");
                $('#monitoring').removeClass("btn-danger");
                $('#monitoring').addClass("btn-secondary");
                c_monitoring.css("color", "#424242")
                //$("#monitoring").focusout();
                p_monitoring.focusout();
                // p_maintenance.addClass("active btn-secondary");
                $('#maintenance').removeClass("btn-secondary")
                $('#maintenance').addClass("btn-danger");
                c_maintenance.css("color", "#ffffff")
            }
       });
    

    $(document).keydown(function(e){
        key=e['key']
        socket.emit('keypress', e['key']+" d");
        //console.log(e['key']+' down')
        switch(key){
            case 'w':
                document.getElementById("Wkey").style.backgroundColor="blue";
                break;
            case 'a':
                document.getElementById("Akey").style.backgroundColor="blue";
                break;
            case 's':
                document.getElementById("Skey").style.backgroundColor="blue";
                break;
            case 'd':
                document.getElementById("Dkey").style.backgroundColor="blue";
                break;
        }
    });
    $(document).keyup(function(e){
        key=e['key']
        //socket.emit('keypress', e['key']+" u");
        console.log(e['key']+' up')
        switch(key){
            case 'w':
                document.getElementById("Wkey").style.backgroundColor="white";
                break;
            case 'a':
                document.getElementById("Akey").style.backgroundColor="white";
                break;
            case 's':
                document.getElementById("Skey").style.backgroundColor="white";
                break;
            case 'd':
                document.getElementById("Dkey").style.backgroundColor="white";
                break;
        }
    });

    $("#monitoring").click(function(){
        $("#monitoring").focusout();
        socket.emit('maintenance', 0);
    });
    
    $("#maintenance").click(function(){
        $("#maintenance").focusout();
        socket.emit('maintenance', 1);
    });
    
    </script>
    <script>
        function listing_pages(pages) {
            var link = new Array(pages.length);
        }
    </script>

{% endblock %}
