{% extends '/layout.html' %}

{% block content %}
    <div class="container-fluid" style="height: 70px; border-bottom: 1px dotted #d32f2f;">
        <div class="row" style="height: 70px;">
            <p class="h1" style="color: #424242; height: 60px; line-height: 60px;">Unloading Package</p>
        </div>
    </div>

    <div class="container-fluid" style="height: 250px; border-bottom: 1px dotted #d32f2f;">
        <div class="row" height="height: 70px;">
            <div class="col-7" style="height: 50px; margin: 10px 0px;">
	            <p class="h2" style="color: #424242; height: 50px; line-height: 50px;">Current Delivery</p>
            </div>
            <div class="col-5" style="height: 50px; margin: 10px 0px;">                
                <button class="btn btn-warning" type="button" style="float: right; height: 50px; width: 250px;" onclick="myFunction()">
                    <span class="align-middle" style="color: #424242;">Complete this delivery</span>
                </button>
            </div>
        </div>
        <div class="row" style="height: 170px; margin: 0px 0px 10px;">
            <table class="table table-borderless" style="height: 160px; text-align: center;">
                    <tr>
	                    <td class="align-middle bg-secondary rounded" colspan="3">
                            <p id="curr_addr" class="h2 text-white font-weight-normal"></p/>
                        </td>
                    </tr>
                    <tr>
	                    <td class="w-25 align-middle bg-danger rounded">
                            <p id="curr_red" class="h2 text-white font-weight-normal"></p>
                        </td>
	                    <td class="w-25 align-middle bg-success rounded">
                            <p id="curr_green" class="h2 text-white font-weight-normal"></p>
                        </td>
	                    <td class="w-25 align-middle bg-primary rounded">
                            <p id="curr_blue" class="h2 text-white fon-weight-normal"></p>
                        </td>  
                    </tr>
	        </table>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="row" style="height: 70px; margin: 10px 0px 0px;">
            <p class="h2" style="color: #424242; height: 50px; line-height: 50px;">Next Delivery</p>
        </div>
        <div class="row" style="height: 170px; margin: 0px 0px 10px;">
	        <table id="next_table" class="table table-borderless" style="height: 160px; text-align: center;">
	            <tbody></tbody>
	        </table>
        </div>
    </div>

	<script>
        var socket=io.connect('http://'+document.domain+':'+location.port+'/unloading');

        socket.on('connect', function(){
            console.log('Connected!');
        });
        
        socket.on('arrived', function(msg){
            alert('Package has arrived at ' + msg);
        });
         
        socket.on('refresh', function(msg){
            console.log(msg);
            $("#curr_addr").text("Address # -");
            $("#curr_red").text("0");
            $("#curr_green").text("0");
            $("#curr_blue").text("0");
            l = 0
            if(msg){
                $("#curr_addr").text("Address # "+ msg[0]['address']);
                $("#curr_red").text(msg[0]['red']);
                $("#curr_green").text(msg[0]['green']);
                $("#curr_blue").text(msg[0]['blue']);
                l=Object.keys(msg).length
            }
            $('#next_table > tbody').html("")
            for(i=1;i<l;i++){
                $('#next_table > tbody').append('<tr><td class="w-25 align-middle table-secondary rounded"><p class="h2 text-black-50 font-weight-normal">' + msg[i]['address'] + '</p></td><td class="w-25 align-middle table-danger rounded"><p class="h2 text-black-50 font-weight-normal">' + msg[i]['red'] + '</p></td><td class="w-25 align-middle table-success rounded"><p class="h2 text-black-50 font-weight-normal">' + msg[i]['green'] + '</p></td><td class="w-25 align-middle table-primary rounded"><p class="h2 text-black-50 font-weight-normal">' + msg[i]['blue'] + '</p></td></tr>');
            }
        });

	    function myFunction() {
            if($("#curr_addr").text().substring(10) == "-") {
                socket.emit('button', 'clear ' + '0');
            }
            else {    
		        socket.emit('button', 'clear ' + $("#curr_addr").text().substring(10));
	        }
        }

	</script>
{% endblock %}
