{% extends '/pages/layout.html' %}

{% block content %}
   <h1>Unloading Package</h1>
    <style>
    table, th, td {
        border: 1px solid black;
    }
    </style>

	<h2>Current Delivery</h2>
    <table>
	  <tr>
	    <td bgcolor="#000000" width="70" align="center"><font color='white'>{{current_unload.address}}</font></td>
	    <td bgcolor="#ff6666" width="70" align="center"><font color='white'>{{current_unload.red}}</font></td>
	    <td bgcolor="#66ff66" width="70" align="center"><font color='white'>{{current_unload.green}}</font></td>
	    <td bgcolor="#6666ff" width="70" align="center"><font color='white'>{{current_unload.blue}}</font></td>  
	    <td><button onclick="myFunction()">Delivered</button></td>
      </tr>
	</table>
	
    <h2>Next Delivery</h2>
	  <table id="next_table">
	    <thead>
	      <tr>
		    <th>Address</th>
		    <th style="color:red;">Red</th>
		    <th style="color:green;">Green</th>
	    	<th style="color:blue;">Blue</th>      
	      </tr>  
	    </thead>
	    <tbody>
	      <tr></tr>
	    </tbody>
	  </table>
	
	<script type="text/javascript">
	$(function() {
	{% for next in next_unload %}
	  var address = {{next.address}};
	  var red = {{next.red}};
	  var green = {{next.green}};
	  var blue = {{next.blue}};
	  $('#next_table > tbody').append('<tr><td>' + address + '</td><td>' + red + '</td><td>' + green + '</td><td>' + blue + '</td></tr>');
	{% endfor %}
	});
	</script>
	
	<script>
    var socket=io.connect('http://'+document.domain+':'+location.port);
    socket.on('connect', function(){console.log('Connected!');});


	function myFunction() {
        	console.log("click")
		var c_address = {{current_unload.address}}
		socket.emit('button', 'clear ' + String(c_address));
	}
	</script>
{% endblock %}
