{% extends '/pages/layout.html' %}

{% block content %}
	<h2>Current Delivery</h2>
	<table>
	  <tr>
	    <th>Address</th>
	    <th>Red</th>
	    <th>Green</th>
	    <th>Blue</th>
	  </tr>
	  <tr>
	    <td>{{current_unload.address}}</td>
	    <td>{{current_unload.red}}</td>
	    <td>{{current_unload.green}}</td>
	    <td>{{current_unload.blue}}</td>  
		<td><button onclick="myFunction()">Clear</button></td>
	  </tr>
	</table>

	<h2>Next Delivery</h2>
	  <table id="next_table">
	    <thead>
	      <tr>
		    <th>Address</th>
		    <th>Red</th>
		    <th>Green</th>
	    	<th>Blue</th>      
	      </tr>  
	    </thead>
	    <tbody>
	      <tr></tr>
	    </tbody>
	  </table>
	
	<script type="text/javascript">
	$(function() {
	{% for next in next_unload %}
	  var address = {{next.address}};
	  var red = {{next.red}};
	  var green = {{next.green}};
	  var blue = {{next.blue}};
	  $('#next_table > tbody').append('<tr><td>' + address + '</td><td>' + red + '</td><td>' + green + '</td><td>' + blue + '</td></tr>');
	{% endfor %}
	});
	</script>
	
	<script>
    var socket=io.connect('http://'+document.domain+':'+location.port);
    socket.on('connect', function(){console.log('Connected!');});


	function myFunction() {
        	console.log("click")
		var next_address = {{next_unload[0].address}}
		socket.emit('button', next_address + ' n');
		var current_panding = {{current_unload.panding}}
		current_panding = 0
	}
	</script>
{% endblock %}
