<!DOCTYPE html>
<html>
<head>
	<title>Loading Page</title>
</head>
<body>
	<h1>Nozama Panhandle</h1>

    <h2>Access List</h2>
    <ul>
        <script>
            var page_list = ['Loading', 'Unloading', 'Maintenance'];
            var page_idx = 0;
            while(page_idx < page_list.length) {
                document.write('<li><a href="http://mellon.andrew.cmu.edu:8888/' + page_list[page_idx].toLowerCase() + '">' + page_list[page_idx] + '</a></li>');
                page_idx = page_idx + 1;
            }
        </script>
    </ul>

	<h2>Page for Package Loading</h2>
	<script>
		var package_c = ['Red', 'Green', 'Blue'];
		var package_u = ['Red', 'Green', 'Blue'];
	</script>
	<h2>Current packages</h2>
	<ul>
		<script>
			var color_idx_c = 0;
			while(color_idx_c < package_c.length) {
				document.write('<li>' + package_c[color_idx_c] + '</li>');
				color_idx_c = color_idx_c + 1;
			}
		</script>
	</ul>

	<h2>Upcoming packages</h2>
	<ul>
		<script>
			var color_idx_u = 0;
			while(color_idx_u < package_u.length) {
				document.write('<li>' + package_u[color_idx_u] + '<li>');
				color_idx_u = color_idx_u + 1;
			}
		</script>
	</ul>

	<input type="button" value="red" onclick="
		function red_retrival() {
			alert(red_retrival);
		}
		fetch('http://mellon.andrew.cmu.edu:3000/api/pending').then(function(response) {
			console.log(response);
		});
	">
</body>
</html>
