<!-- <?php
$con=mysqli_connect("wookjae","15232","1","2","3");
// Check connection
if (mysqli_connect_errno())
{
echo "Failed to connect to MySQL: " . mysqli_connect_error();
}

$result = mysqli_query($con,"SELECT * FROM Persons");

echo "<table border='1'>
<tr>
<th>Customer Name</th>
<th>Address</th>
<th>Red</th>
<th>Green</th>
<th>Blue</th>
</tr>";

while($row = mysqli_fetch_array($result))
{
echo "<tr>";
echo "<td>" . $row['CustomerName'] . "</td>";
echo "<td>" . $row['Address'] . "</td>";
echo "<td>" . $row['Red'] . "</td>";
echo "<td>" . $row['Green'] . "</td>";
echo "<td>" . $row['Blue'] . "</td>";

echo "</tr>";
}
echo "</table>";

mysqli_close($con);
?> -->


<!DOCTYPE html>
<html>
<head>
	<title>Loading Page</title>
</head>
<body>
	<h1>Nozama Panhandle</h1>
    <h2>Access List</h2>
    <ul>
        <script>
            var page_list = ['Loading', 'Unloading', 'Maintenance'];
            var page_idx = 0;
            while(page_idx < page_list.length) {
                document.write('<li><a href="http://mellon.andrew.cmu.edu:8888/' + page_list[page_idx].toLowerCase() + '">' + page_list[page_idx] + '</a></li>');
                page_idx = page_idx + 1;
            }
        </script>
    </ul>
	<h2>Page for Package Loading</h2>
	<script>
		var package_color = ['Red', 'Green', 'Blue'];
	</script>
	<ul>
		<script>
			var color_idx = 0;
			while (color_idx < package_color.length){
				document.write('<li>'+package_color[color_idx]+'</li>');
				color_idx = color_idx + 1;
			}
		</script>
	</ul>
	<?php
	$servername = "localhost";
	$username = "strong";
	$password = "strong";
	$dbname = "orderdb";
	
	// Create connection
	$conn = new mysqli($servername, $username, $password, $dbname);
	// Check connection
	if ($conn->connect_error) {
		die("Connection failed: " . $conn->connect_error);
	}
	
	$sql = "SELECT id, firstname, lastname FROM MyGuests";
	$result = $conn->query($sql);
	
	if ($result->num_rows > 0) {
		// output data of each row
		while($row = $result->fetch_assoc()) {
			echo "<br> id: ". $row["id"]. " - Name: ". $row["firstname"]. " " . $row["lastname"] . "<br>";
		}
	} else {
		echo "0 results";
	}
	
	$conn->close();
	?>
</body>
</html>
